<div
    class="mat-elevation-z1 banner"
    style="height: 350px; border-radius: 10px; position: relative;"
    (click)="openChannel()">
    <div
        *ngIf="'../../../assets/img/generic-channel-banner.jpg' as generic_banner"
        style="background-image: url('{{channel.photoUrl ? channel.photoUrl : generic_banner}}');"
        class="banner-image">
    </div>
    <div style="font-size: 14px; margin: 10px 10px; margin-top: 20px; line-height: 1.1;">
        <div style="font-size: 16px; margin-bottom: 5px;"><b>{{channel.name}}</b></div>
        <div>{{channel.description}}</div>
    </div>
    <div style="position: absolute; bottom: 0px; margin: 10px; font-size: 12px;">
        <span *ngIf="channel.numMemberships">
            {{channel.numMemberships}}&nbsp;{{channel.numMemberships > 1 ? "members" : "member"}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <span *ngIf="channel.numSubscriptions">
            {{channel.numSubscriptions}}&nbsp;{{channel.numSubscriptions > 1 ? "subscribers" : "subscriber"}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <span *ngIf="channel.numDialogues">
            {{channel.numDialogues}}&nbsp;{{channel.numDialogues > 1 ? "dialogues" : "dialogue"}}
        </span>
    </div>
</div>