<div *ngIf="dialogue" class="margin">
    <div style="margin: 0 30px;">
        <h2>{{dialogue.title}}</h2>
        {{dialogue.views}} views • {{dialogue.created}}
        <div></div>
        <!-- <button
            mat-icon-button
            [disableRipple]='true' color="none" (click)="viewComments()">
            <mat-icon style="font-size: 20px;">comment</mat-icon>
            {{comments}}
        </button> -->
        
        <mat-divider style="margin-bottom: 10px; margin-top: 10px;"></mat-divider>
        <p style="white-space: pre-wrap;">{{dialogue.description}}</p>
        
        <mat-divider style="margin-bottom: 10px;"></mat-divider>
        <app-dialogue-message
            *ngFor="let message of messages; index as i"
            [message]="message"
            [prevMessage]="i > 0 ? messages[i - 1] : null">
        </app-dialogue-message>
        <p style="height: 20px;"></p>
    </div>
</div>