.msg-container {
    margin: 0;
    border: none;
    height: calc(100vh - 171px);
    overflow-y: scroll;
}

.thread-container {
    margin: 0;
    border: none;
    height: 55vh;
    overflow-y: scroll;
}

.desc-container {
    border: none;
    height: 15vh;
}

.row {
    display: flex;
    max-width: 100%;
}

.column {
    flex: 30%;
    margin: 2%;
}

.close {
    position: absolute;
    top: -4%;
    right: -5%;
}
  
.divider {
    margin-bottom: 1%;
    margin-top: 1%;
}

.center {
    position: fixed;
    left: 15%;
}