.close {
    position: absolute;
    top: -4%;
    right: -5%;
}
  
.divider {
    margin-bottom: 1%;
    margin-top: 1%;
}

.center {
    position: fixed;
    left: 15%;
}

.margin {
    max-width: 1400px;
    margin: 0 auto;
}

.avatar {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    display: inline-block;
}

.channel-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 0px 0px 25px 25px;
}