.message:hover{
    background-color: rgba(245, 245, 245, 0.8);
}

.avatar{
    position: absolute;
    transform: translate(0px, 5px);
}

.message:hover span{
    color: black;
}

.message span{
    position: absolute;
    transform: translate(0px, 2px);
    color: white;
}

.message .action-buttons{
    display: none;
    float: right;
    background-color: white;
    transform: translate(0px, -40px);
    padding: 2px;
}

.message:hover .action-buttons{
    display: inline;
}

.button{
    height: 37px;
    width: 37px;
    border-radius: 10%;
}

.mat-icon{
    font-size: 20px;
}