<div class="panel message">
    <div class="panel-body">
        <!-- <div *ngIf="!message.mine" class="avatar">
          <img src="assets/img/generic-avatar.png" alt="avatar" height="57px" width="50px">
        </div> -->
  
        <div class="msg-text-container">
          <h3 class="panel-title"><strong>{{message.from.username}}</strong></h3>
          <p class="msg-text">{{message.text}}</p>
          <div *ngIf="message.attributes && message.attributes.source">
            <p>Source:</p>
            <p>{{message.attributes.source}}</p>
          </div>
        </div>
  
      <!-- <div *ngIf="message.mine" class="avatar">
         <img src="assets/img/generic-avatar.png" alt="avatar" height="57px" width="50px">
      </div> -->
    </div>
  </div>
  