<button
    mat-icon-button
    (click)="onClickCancel()"
    style="float: right; top: -10px; right: -14px;">
    <mat-icon>close</mat-icon>
</button>
<h1 mat-dialog-title>Request Chat</h1>
<div mat-dialog-content>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Chat Title (Required)</mat-label>
        <input
            matInput
            maxlength="80"
            [(ngModel)]="data.title"
            name="title"
            placeholder="Few word description of the conversation">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Chat Description (Required)</mat-label>
        <textarea
            matInput
            style="height: 160px;"
            placeholder="The first message of the conversation"
            [(ngModel)]="data.description">
        </textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button
        mat-flat-button
        [mat-dialog-close]="data"
        name="submit"
        [disabled]="!data.description || !data.title"
        color="primary">Submit Request</button>
</div>