<div class="container">
  <h2 class="page-header">Register</h2>

  <form [formGroup]="registerForm"
    (ngSubmit)="onRegisterSubmit()"
    >

  <div class="form-group">
    <label for="username">Username</label>

    <input type="text" name="username" class="form-control"
      id="username"
      placeholder="Only letters, numbers, and underscore are allowed"
      formControlName="username"
      autofocus="true"
      matTooltip="Must be between 4 - 14 characters long"
      maxlength="14"
      >
  </div>

  <div class="form-group">
    <label for="password">Password</label>

    <input type="password" name="password" class="form-control"
      id="password"
      placeholder="Enter your password"
      formControlName="password"
      matTooltip="Must be at least 4 characters long"
      >
  </div>

  <div class="form-group">
    <label for="confirmPass">Confirm password</label>

      <input type="password" name="confirmPass" class="form-control"
      id="confirmPass"
      placeholder="Confirm password"
      formControlName="confirmPass"
      matTooltip="Must match the password"
      >
  </div>

  <div class="form-group">
    <label for="email">Email</label>

      <input type="email" name="email" class="form-control"
      id="email"
      placeholder="Email"
      formControlName="email"
      matTooltip="Please use a valid email. Subscription service will be available in the future."
      >
  </div>

  <div class="form-group">
    <button [disabled]="registerForm.invalid"
      type="submit"
      class="btn btn-primary"
      name="register"
      >Register
    </button>
  </div>

  <a [routerLink]="['/login']">Already have an account?</a>

  </form>

</div>
