.message{
    position: relative;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.message:hover{
    background-color: rgba(240, 240, 240, 0.8);
}

.avatar{
    position: absolute;
    transform: translate(0px, 9px);
}

.message:hover span{
    color: black;
    position: absolute;
    transform: translate(0px, 5px);
    display: inline;
}

.message span{
    display: none;
}