<div class="jumbotron text-center">
    <h1>Platonic</h1>
    <div class="center-screen">
        <p style="max-width: 500px; margin: 20px;">
            Browse channels for a place to chat!
        </p>
    </div>
</div>
<mat-grid-list style="margin-top: 20px;" cols='{{(isSmallScreen$ | async).matches ? "1" : "4"}}' rowHeight="100px" gutterSize="10">
    <mat-grid-tile *ngFor="let user of [(user$ | async)]">
        <button name="addChannel" mat-stroked-button class="button mat-elevation-z1" (click)="createNewChannel(user)">
            <mat-icon aria-hidden="false">add</mat-icon>
            <p>Create New Channel</p>
        </button>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let channel of (channels$ | async)">
        <button mat-stroked-button class="mat-elevation-z1 channel" (click)="openChannel(channel)">
            {{channel.name}}
        </button>
    </mat-grid-tile>
</mat-grid-list>
