<div class="jumbotron text-center">
    <h1>Lordskiss</h1>
    <div class="center-screen">
        <p class="subtitle">
            Home of text messages <br />
            copied from Facebook Messenger
        </p>
        <button
            mat-raised-button
            routerLink="/share"
            color="primary">
            Share Your Texts
            <mat-icon aria-hidden="false">arrow_forward</mat-icon>
        </button>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3"
            *ngFor="let dialogue of dialogues"
            style="margin-bottom: 30px;">
            <app-dialogue-banner [dialogue]="dialogue"></app-dialogue-banner>
        </div>
    </div>
</div>
