<h3 class="text-center">Chats</h3>
<mat-card
  [ngClass]="{ activeChannel: (activeChannel$ | async) && (activeChannel$ | async).channelId === channel.channelId }"
  *ngFor="let channel of (channels$ | async)" style="margin: 15px; height: 80px;"
  (click)="selectChat(channel)"
  matBadge="!"
  matBadgeColor="warn"
  matBadgeHidden="{{!!channel.lastMessage && channel.lastMessage.index === channel.lastConsumedMessageIndex}}">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{channel.channelName}}</mat-card-title>
    <mat-card-subtitle
      *ngIf="channel.lastMessage as message">
      {{truncateText(message.from.username + ": " + message.text, maxMessageLength)}}
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="!channel.lastMessage">No messages</mat-card-subtitle>
  </mat-card-header>
</mat-card>
