<h3 class="text-center">Chats</h3>
<mat-card
  [ngClass]="{activeChannel: (chatroom$ | async).activeChannel && (chatroom$ | async).activeChannel.channelId === channel.channelId}"
  *ngFor="let channel of (chatroom$ | async).channels" style="margin: 10px; height: 80px;"
  (click)="selectChat(channel)">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{channel.channelCreator}}</mat-card-title>
    <mat-card-subtitle>{{channel.channelName}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
