<div class="wrapper">
  <h3 class="text-center">Chats</h3>

  <ul class="list-group">
    <!-- <a href="#" class="list-group-item" (click)="onUserClick('chat-room')" [ngClass]="{active: true}">
      <span class="glyphicon glyphicon-comment" aria-hidden="true" style="margin-right: 2px"></span>
      Chat Room
    </a> -->
    <a *ngFor="let channel of (chatroom$ | async).channels"
      class="list-group-item"
      (click)="onUserClick(channel)"
      [ngClass]="{active: false, online: false}"
      >
        {{channel.channelName}}
        <span *ngIf="false" class="glyphicon glyphicon-ok-sign pull-right" aria-hidden="true" style="padding-top: 5px"></span>
    </a>
  </ul>

</div>
