<div class="center-screen">
  <div class="mobile-friendly-width">
    <h2 class="page-header text-center">Select a topic to get started or make your own!</h2>
    <button
      mat-raised-button
      color="{{selectedTitle === 0 ? 'primary' : ''}}"
      (click)="selectTitle(0)">
      {{chatRequestTitles[0]}}
    </button>
    <button
      mat-raised-button
      color="{{selectedTitle === 1 ? 'primary' : ''}}"
      (click)="selectTitle(1)">
      {{chatRequestTitles[1]}}
    </button>
    <button
      mat-raised-button
      color="{{selectedTitle === 2 ? 'primary' : ''}}"
      (click)="selectTitle(2)">
      {{chatRequestTitles[2]}}
    </button>
  </div>
  <mat-form-field appearance="outline" style="width: 450px">
    <mat-label>Custom Topic</mat-label>
    <input
      matInput
      placeholder="A concise title for an interesting topic"
      #inputTopic (input)="type(inputTopic.value)">
  </mat-form-field>
  <div style="flex-direction: row;">
    <button
      mat-raised-button
      (click)="skipToBrowse()">
      Skip to Browse
    </button>
    <button
      color="primary"
      mat-raised-button
      (click)="createChatRequest()"
      [class.spinner]="creatingChatRequest"
      [disabled]="creatingChatRequest">
      Continue
    </button>
  </div>
</div>
  