.card {
    max-width: 100%;
}

.divider {
    margin-bottom: 1%;
    margin-top: 1%;
}

.dialogue-container {
    margin: 0;
    border: none;
    height: calc(100vh - 400px);
    overflow-y: scroll;
}