<div class="container">
  <div class="jumbotron text-center">
    <h1>Platonic</h1>
    <p class="lead">A place to share interesting conversations</p>
    <div *ngIf="!this.authService.loggedIn()">
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
      <span style="margin-left:4px; margin-right:4px;">or</span>
      <a class="btn btn-info" [routerLink]="['/login']">Login</a>
    </div>

    <div *ngIf="this.authService.loggedIn()">
      <a class="btn btn-primary" [routerLink]="['/chat']">Chat Room</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <h3>Instant Messaging</h3>
      <p>Talk to other people just like in any other app (almost)</p>
    </div>
    <div class="col-md-4 text-center">
      <h3>Curating Conversations</h3>
      <p>Save conversations you had here or upload your conversations from Whatsapp</p>
    </div>
    <div class="col-md-4 text-center">
      <h3>Share Conversations</h3>
      <p>Once you save your conversation, other people can view it and comment on it (only if you give them the link)</p>
    </div>
  </div>
</div>
