<div class="container">
  <div class="jumbotron text-center row">
    <h1>Platonic</h1>
    <p class="lead">Have quality conversations about any topic</p>
    <div *ngIf="!this.authService.loggedIn()">
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
      <span style="margin-left:4px; margin-right:4px;">or</span>
      <a class="btn btn-info" [routerLink]="['/login']">Login</a>
    </div>

    <div *ngIf="this.authService.loggedIn()">
      <a class="btn btn-primary" [routerLink]="['/channels']">Browse Topics</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 text-center">
      <h3>Topic Matching</h3>
      <p>Text with other people with your particular interests</p>
    </div>
    <div class="col-md-6 text-center">
      <h3>Share Conversations</h3>
      <p>Save conversations you had here and share them with the world</p>
    </div>
  </div>
  <div class="row">
    <div class="text-align: text-center">
      <h3>Contact</h3>
      <p>Send an email at <b>platonic.news@gmail.com</b> for feedback and comments</p>
    </div>
  </div>
</div>
