<div class="container">
  <div class="jumbotron text-center">
    <h1>Platonic</h1>
    <p class="lead">A place to share interesting conversations</p>
    <div *ngIf="!this.authService.loggedIn()">
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
      <span style="margin-left:4px; margin-right:4px;">or</span>
      <a class="btn btn-info" [routerLink]="['/login']">Login</a>
    </div>

    <div *ngIf="this.authService.loggedIn()">
      <a class="btn btn-primary" [routerLink]="['/channels']">Chat Room</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <h3>Topic Matching</h3>
      <p>Text with other people with your particular interests or create your own texting channels</p>
    </div>
    <div class="col-md-4 text-center">
      <h3>Texting Management</h3>
      <p>Rapidly match with a fellow texter with just a single click</p>
    </div>
    <div class="col-md-4 text-center">
      <h3>Share Conversations</h3>
      <p>Save conversations you had here and share them with the world</p>
    </div>
  </div>
  <div class="row">
    <div class="text-align: text-center">
      <h3>Contact Me</h3>
      <p>Send me an email at <b>fwang100@uottawa.ca</b> for feedback and comments</p>
    </div>
  </div>
</div>
