<button
    mat-icon-button
    (click)="onClickCancel()"
    style="float: right; top: -10px; right: -14px;">
    <mat-icon>close</mat-icon>
</button>
<h1 mat-dialog-title>Requested by {{chatRequest.user.username}}</h1>
<div mat-dialog-content>
    <app-avatar [user]="chatRequest.user" [width]="40" [height]="40"></app-avatar>
    <p style="margin-top: 10px;">{{chatRequest.description}}</p>
</div>
<div mat-dialog-actions>
    <button
        *ngIf="!chatRequest.acceptor"
        mat-flat-button
        color="primary"
        (click)="acceptChatRequest()">
        Accept Request</button>
    <button
        *ngIf="chatRequest.acceptor"
        mat-flat-button
        [disabled]="true">
        Request Archived</button>
</div>