.channel {
    transition: 0.3s;
}

.channel:hover {
    background-color: rgb(240, 240, 240, 0.8);
}

.image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}

.avatar {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    display: inline-block;
}
