.avatar {
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20%;
}

.avatar:hover {
    cursor: pointer;
}