<header>
  <!-- Navbar -->
  <mat-toolbar>
    <button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
      <span>   Platonic</span>
    </button>
    <button *ngIf="authService.loggedIn()" mat-button routerLink="/chat">
      <span>Chat</span>
    </button>
    <button mat-button routerLink="/channels">
      <span>Channels</span>
    </button>
    <span class="fill-remaining-space"></span>
    <button *ngIf="authService.loggedIn()" mat-button routerLink="/profile">
      <span>Profile</span>
    </button>
    <button *ngIf="!authService.loggedIn()" mat-button routerLink="/register">
      <span>Register</span>
    </button>
    <button *ngIf="!authService.loggedIn()" mat-button routerLink="/login">
      <span>Login</span>
    </button>
    <button *ngIf="authService.loggedIn()" mat-button (click)="onLogoutClick()">
      <span>Logout</span>
    </button>
    <!-- <span class="fill-remaining-space">Platonic</span> -->
  </mat-toolbar>
</header>

<div>

  <!-- Page Content -->
  <router-outlet></router-outlet>
</div>
