.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.top {
    height: 50px;
}

.content {
    height: calc( 100% - 50px );
    overflow: scroll;
}

.content::-webkit-scrollbar {
    display: none;
}