<!-- Navbar -->
<header>
  <!-- Desktop Layout -->
  <mat-toolbar color="primary" class="top" *ngIf="!(isSmallScreen$ | async).matches">
    <button
      name="nav_home"
      mat-icon-button
      routerLink="/"
      matTooltip="home">
      <mat-icon>home</mat-icon>
    </button>
    <button
      name="nav_chat"
      *ngIf="authService.loggedIn()"
      mat-icon-button routerLink="/chat"
      matTooltip="Ongoing Chats">
      <mat-icon
        matBadge="{{(unreadChats$ | async)}}"
        matBadgeColor="warn">forum</mat-icon>
    </button>
    <button
      name="nav_channels"
      mat-icon-button
      routerLink="/channels"
      matTooltip="Channels">
      <mat-icon>people</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
    <button
      name="nav_profile"
      *ngIf="authService.loggedIn()"
      mat-icon-button
      routerLink="/profile"
      matTooltip="Profile">
      <mat-icon>person</mat-icon>
    </button>
    <button
      *ngIf="authService.loggedIn()"
      name="notifications"
      mat-icon-button
      matTooltip="notifications"
      (click)="openNotifications()">
      <mat-icon
        matBadge="{{(unreadCount$ | async)}}"
        matBadgeColor="warn">notifications</mat-icon>
    </button>
    <button
      *ngIf="authService.loggedIn()"
      name="nav_settings"
      mat-icon-button
      matTooltip="settings"
      routerLink="/settings">
      <mat-icon>settings</mat-icon>
    </button>
    <button
      *ngIf="!authService.loggedIn()"
      mat-icon-button
      routerLink="/register"
      matTooltip="Register">
      <mat-icon>person_add</mat-icon>
    </button>
    <button
      *ngIf="!authService.loggedIn()"
      mat-icon-button
      routerLink="/login"
      matTooltip="Login">
      <mat-icon>login</mat-icon>
    </button>
    <button
      *ngIf="authService.loggedIn()"
      mat-icon-button
      (click)="onLogoutClick()"
      matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <!-- Mobile Layout -->
  <mat-toolbar color="primary" class="top" *ngIf="(isSmallScreen$ | async).matches">
    <span class="fill-remaining-space">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button name="nav_home" mat-menu-item routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button name="nav_chat" *ngIf="authService.loggedIn()" mat-menu-item routerLink="/chat">
          <mat-icon
            matBadge="{{(unreadChats$ | async)}}"
            matBadgeColor="warn">forum</mat-icon>
          <span>Chat</span>
        </button>
        <button name="nav_channels" mat-menu-item routerLink="/channels">
          <mat-icon>people</mat-icon>
          <span>Channels</span>
        </button>
        <button name="nav_profile" *ngIf="authService.loggedIn()" mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button
          *ngIf="authService.loggedIn()"
          name="nav_settings"
          mat-menu-item
          routerLink="/settings">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button *ngIf="!authService.loggedIn()" mat-menu-item routerLink="/register">
          <mat-icon>person_add</mat-icon>
          <span>Register</span>
        </button>
        <button *ngIf="!authService.loggedIn()" mat-menu-item routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>
        <button *ngIf="authService.loggedIn()" mat-menu-item (click)="onLogoutClick()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </span>
    <span class="fill-remaining-space"></span>
    <button
      *ngIf="authService.loggedIn()"
      name="notifications"
      mat-icon-button
      matTooltip="notifications"
      (click)="openNotifications()">
      <mat-icon
        matBadge="{{(unreadCount$ | async)}}"
        matBadgeColor="warn">notifications</mat-icon>
    </button>
  </mat-toolbar>

</header>

<div class="content">

  <!-- Page Content -->
  <router-outlet></router-outlet>
</div>
