<!-- Navbar -->
<header>
  <!-- Mobile Layout -->
  <mat-toolbar color="primary" class="top" *ngIf="!(isSmallScreen$ | async).matches">
    <button mat-button routerLink="/">
      <span>Platonic</span>
    </button>
    <button *ngIf="authService.loggedIn()" mat-button routerLink="/chat">
      <span>Chat</span>
    </button>
    <button mat-button routerLink="/channels">
      <span>Channels</span>
    </button>
    <span class="fill-remaining-space"></span>
    <button name="nav_profile" *ngIf="authService.loggedIn()" mat-button routerLink="/profile">
      <span>Profile</span>
    </button>
    <button *ngIf="!authService.loggedIn()" mat-button routerLink="/register">
      <span>Register</span>
    </button>
    <button *ngIf="!authService.loggedIn()" mat-button routerLink="/login">
      <span>Login</span>
    </button>
    <button *ngIf="authService.loggedIn()" mat-button (click)="onLogoutClick()">
      <span>Logout</span>
    </button>
    <!-- <span class="fill-remaining-space">Platonic</span> -->
  </mat-toolbar>

  <!-- Mobile Layout -->
  <mat-toolbar color="primary" class="top" *ngIf="(isSmallScreen$ | async).matches">
    <span class="fill-remaining-space">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button *ngIf="authService.loggedIn()" mat-menu-item routerLink="/chat">
          <mat-icon>chat</mat-icon>
          <span>Chat</span>
        </button>
        <button mat-menu-item routerLink="/channels">
          <mat-icon>personal_video</mat-icon>
          <span>Channels</span>
        </button>
        <button name="nav_profile" *ngIf="authService.loggedIn()" mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button *ngIf="!authService.loggedIn()" mat-menu-item routerLink="/register">
          <mat-icon>person_add</mat-icon>
          <span>Register</span>
        </button>
        <button *ngIf="!authService.loggedIn()" mat-menu-item routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>
        <button *ngIf="authService.loggedIn()" mat-menu-item (click)="onLogoutClick()">
          <mat-icon>lock</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </span>
    <span class="fill-remaining-space">Platonic</span>
  </mat-toolbar>

</header>

<div class="content">

  <!-- Page Content -->
  <router-outlet></router-outlet>
</div>
