<h2 mat-dialog-title>Argument</h2>
<div *ngIf="hasArgument$ | async">
    <mat-dialog-content>
        <p>{{(chatroom$ | async).activeChannel.attributes.argument.message}}</p>
        <h3 *ngIf="textingRight$ | async">You currently have texting right.</h3>
        <h3 *ngIf="!(textingRight$ | async)">Other user has texting right.</h3>

        <!-- Button for yielding texting right -->
        <button
            mat-mini-fab
            (click)="passTextingRight()"
            [disabled]="!(textingRight$ | async)">
            <mat-icon>sync_alt</mat-icon>
        </button>

        <!-- The message that was flagged for needing source -->
        <div *ngIf="(flaggedMessage$ | async) && (flaggedMessageIsMine$ | async)">
            <h3>A source was demanded for the following message.</h3>
            <p>{{(flaggedMessage$ | async)}}</p>
            <form [formGroup]="sendSource"
                (ngSubmit)="onSendSource()">
    
                <div class="input-group">
                    <input type="text"
                    class="form-control"
                    placeholder="Type your source..."
                    id="source"
                    name="source"
                    formControlName="source"
                    autofocus="true"
                    autocomplete="off"
                    >
        
                    <span class="input-group-btn">
                    <button
                        [disabled]="sendSource.invalid"
                        type="submit" class="btn btn-primary" name="send">Send</button>
                    </span>
                </div>
            </form>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button
            *ngIf="(agreeArgument$ | async) as color"
            mat-raised-button color={{color}}
            (click)="onAgreementClick(agreement.AGREE)">
            Agree
        </button>
        <button 
            *ngIf="(middleArgument$ | async) as color"
            mat-raised-button color={{color}}
            (click)="onAgreementClick(agreement.MIDDLE)">
            Middle
        </button>
        <button 
            *ngIf="(disagreeArgument$ | async) as color"
            mat-raised-button color={{color}}
            (click)="onAgreementClick(agreement.DISAGREE)">
            Disagree
        </button>
    </mat-dialog-actions>
</div>
<p *ngIf="!(hasArgument$ | async)">There is currently no argument.</p>