<div *ngIf="user" style="max-width: 1400px; margin: 0 auto;">
  <div style="margin: 0 30px;">

    <!-- Profile Descriptor -->
    <div class="text-center" style="margin-bottom: 30px;" *ngFor="let loggedInUser of [(user$ | async)]">
      <input
        #input
        style="display: none;"
        type="file"
        onclick="this.value=null"
        (change)="uploadImage($event)"
        accept=".png, .jpeg, .jpg, .PNG, .JPEG, .JPG"/>
      <button
        *ngIf="'../../../assets/img/generic-avatar.png' as generic_avatar"
        type="button"
        style="background-image: url('{{user.photoUrl ? user.photoUrl : generic_avatar}}');"
        mat-button
        class="profile-button"
        matTooltip="Update photo"
        (click)="input.click()"
        [disabled]="!loggedInUser || loggedInUser.username !== user.username">
      </button>
      <h2 name="profile_name">{{user.username}}</h2>
      <p style="font-size: 18px; margin: 20px 0">
        <b>{{user.numMemberships}}</b> {{user.numMemberships > 1 ? "channels" : "channel"}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>{{user.numDialogues}}</b> {{user.numDialogues > 1 ? "dialogues" : "dialogue"}}
      </p>
      <p style="text-align: center;">{{user.bio}}</p>
    </div>

    <!-- User Activities -->
    <mat-tab-group animationDuration="0ms" mat-align-tabs="center">

      <!-- User Dialogues -->
      <mat-tab label="Dialogues">
        <div class="container-fluid" style="margin-top: 10px;">
          <div class="row justify-content-center">
            <div class="col-xs-6 col-sm-3"
              *ngFor="let dialogue of dialogues"
              style="margin-bottom: 30px;">
              <app-dialogue-banner [dialogue]="dialogue"></app-dialogue-banner>
            </div>
          </div>
        </div>
      </mat-tab>

      <!-- User Created Channels -->
      <mat-tab label="Channels">
        <div class="container-fluid" style="margin-top: 10px;">
          <div class="row justify-content-center">
            <div class="col-xs-6 col-sm-3"
              *ngFor="let membership of (memberships$ | async)"
              style="margin-bottom: 30px;">
              <app-channel-banner [channel]="membership.channel"></app-channel-banner>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div *ngIf="!user" style="max-width: 1400px; margin: 0 auto;">
  <div class="text-center" style="margin-bottom: 30px;">
    <h2 name="profile_name">This user doesn't exist.</h2>
  </div>
</div>
