<div *ngIf="user" class="container">
  <div class="text-center">
    <img src="assets/img/generic-avatar.png" alt="avatar" height="114px" width="100px">
    <h2 class="page-header">{{user.username}}</h2>
  </div>
  <div class="text-center">
    <h2>Channel Subscriptions</h2>
    <div *ngFor="let channel of subscribedChannels" >
      <h2>{{channel}} <button mat-stroked-button (click)="unsubscribeChannel(channel)">
        Unsubscribe </button></h2>
    </div>
    
  </div>
  <app-dialogue-list [dialogues]='dialogues'></app-dialogue-list>
</div>
