<div *ngIf="(channel$ | async)" style="max-width: 700px; margin: 0 auto;">
    <div style="margin: 0 30px;">
        <h2 style="text-align: center;">{{(channel$ | async).name}}</h2>
        <h4 style="text-align: center;">Created by {{(channel$ | async).creator.username}}</h4>
        <p style="text-align: justify;">{{(channel$ | async).description}}</p>
        
        <mat-divider style="margin-bottom: 10px;"></mat-divider>
        <button
            name="request_chat"
            *ngIf="(username$ | async) !== (channel$ | async).creator.username && !(alreadyRequested$ | async)"
            mat-icon-button
            (click)="requestChat()"
            [disabled]="(username$ | async) === null || (alreadyRequested$ | async)">
            <mat-icon>message</mat-icon>
        </button>
        <button
            color="warn"
            name="delete_request"
            *ngIf="(username$ | async) !== (channel$ | async).creator.username && (alreadyRequested$ | async)"
            mat-icon-button
            (click)="deleteRequest()"
            [disabled]="(username$ | async) === null">
            <mat-icon>cancel</mat-icon>
        </button>
        <button
            name="join_channel"
            *ngIf="(username$ | async) !== (channel$ | async).creator.username"
            mat-icon-button
            (click)="joinChannel()"
            [disabled]="(isMember$ | async)">
            <mat-icon>person_add</mat-icon>
        </button>
        <button
            name="subscribe"
            *ngIf="(username$ | async) !== (channel$ | async).creator.username"
            mat-icon-button
            (click)="subscribeChannel()"
            [disabled]="(subscribed_channels_names$ | async).includes((channel$ | async).name) || (username$ | async) === null">
            <mat-icon>notification_add</mat-icon>
        </button>
        <button
            name="deleteChannel"
            *ngIf="(username$ | async) === (channel$ | async).creator.username"
            mat-icon-button
            (click)="deleteChannel()">
            <mat-icon>delete</mat-icon> 
        </button>
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Dialogues">
                <app-dialogue-list *ngIf="(dialogues$ | async).length !== 0" [dialogues]='(dialogues$ | async)'></app-dialogue-list>
            </mat-tab>
            <mat-tab *ngIf="(isMember$ | async)" label="Members"></mat-tab>
            <mat-tab *ngIf="(isMember$ | async)" label="Chat Requests">
                <app-chat-requests></app-chat-requests>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
