<div *ngIf="(channel$ | async) as channel" style="max-width: 700px; margin: 0 auto;">
    <div 
        *ngIf="'../../../assets/img/generic-channel-banner.jpg' as generic_banner"
        style="background-image: url('{{channel.photoUrl ? channel.photoUrl : generic_banner}}');"
        class="channel-banner">
        <input
            #input
            style="display: none;"
            type="file"
            onclick="this.value=null"
            (change)="uploadImage($event)"
            accept=".png, .jpeg, .jpg, .PNG, .JPEG, .JPG"/>
        <button
            mat-raised-button
            (click)="input.click()"
            style="margin: 10px 20px;"
            *ngIf="(isCreator$ | async)"
            matTooltip="Please keep the image under 1MB">
            <mat-icon>image</mat-icon>
            Edit Banner
        </button>
    </div>
    <div *ngFor="let user of [(user$ | async)]" style="margin: 0 30px;">
        <button
            style="float: right;"
            name="editChannel"
            matTooltip="Edit channel"
            *ngIf="(isCreator$ | async)"
            mat-icon-button
            (click)="editChannel(channel)">
            <mat-icon>edit</mat-icon>
        </button>
        <!-- <button
            style="float: right;"
            name="deleteChannel"
            matTooltip="Delete channel"
            *ngIf="(isCreator$ | async)"
            mat-icon-button
            (click)="deleteChannel()">
            <mat-icon>delete</mat-icon> 
        </button> -->
        <h2>{{channel.name}}</h2>
        <p style="font-size: 18px;">{{channel.description}}</p>
        <mat-divider style="margin-bottom: 10px;"></mat-divider>
        <h4>Members</h4>
        <div *ngFor="let membership of (memberships$ | async)" class="avatar">
            <app-avatar [user]='membership.user' [height]='50' [width]='50'></app-avatar>
        </div>
        <mat-divider style="margin-bottom: 10px;"></mat-divider>
        <button
            name="request_chat"
            *ngIf="!(alreadyRequested$ | async)"
            mat-button
            (click)="requestChat(user)">
            <mat-icon>message</mat-icon>
            Request Chat
        </button>
        <button
            color="warn"
            name="cancel_request"
            *ngIf="(alreadyRequested$ | async)"
            mat-button
            (click)="cancelRequest()">
            <mat-icon>cancel</mat-icon>
            Cancel Request
        </button>
        <button
            name="join_channel"
            *ngIf="!(isMember$ | async) && (channel$ | async).channelType === public"
            mat-button
            matTooltip="allows you to view and accept chat requests"
            (click)="joinChannel(user)">
            <mat-icon>person_add</mat-icon>
            Become Member
        </button>
        <button
            color="warn"
            name="leave_channel"
            *ngIf="(isMember$ | async) && (channel$ | async).channelType === public"
            (click)="cancelMembership()"
            mat-button>
            <mat-icon>person_remove</mat-icon>
            Cancel Membership
        </button>
        <button
            name="subscribe"
            *ngIf="!(isSubscriber$ | async)"
            mat-button
            (click)="subscribeChannel(user)">
            <mat-icon>notification_add</mat-icon>
            Subscribe
        </button>
        <button
            color="warn"
            name="unsubscribe"
            matTooltip="Unsubscribe from channel"
            *ngIf="(isSubscriber$ | async)"
            (click)="cancelSubscription()"
            mat-button>
            <mat-icon>notifications_off</mat-icon>
            Unsubscribe
        </button>
        <mat-divider style="margin-top: 10px;"></mat-divider>
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Dialogues">
                <app-dialogue-list *ngIf="(dialogues$ | async).length !== 0" [dialogues]='(dialogues$ | async)'></app-dialogue-list>
            </mat-tab>
            <mat-tab [disabled]="!(isMember$ | async)" label="Chat Requests">
                <app-chat-requests></app-chat-requests>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
