<mat-drawer-container style="height: 100%;">
  <mat-drawer #drawer [mode]='"over"' style="width: 350px;">
    <div [ngClass]="{open: showActive}">
      <button
        mat-icon-button
        class="close-button"
        (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
      <app-active-list></app-active-list>
    </div>
  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar class="header" color="primary">

      <!-- Button for turning on sidenav to switch chat -->
      <button color="primary" class="mat-elevation-z0" name="switch_chat" mat-mini-fab (click)="drawer.toggle()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>

      <!-- Chatroom name -->
      <span name="chatName" *ngIf="(activeChannel$ | async)">{{chatName$ | async}}</span>
      <span style="flex: 1 1 auto;"></span>

      <!-- Button for showing argument detail -->
      <!-- <button
        mat-button
        (click)="openArgument()"
        color='{{(hasArgument$ | async) ? "warn" : ""}}'
        *ngIf="(activeChannel$ | async)">Show Argument</button> -->

      <!-- Buttons for ending chat -->
      <button
        name="archive_chat"
        mat-icon-button
        (click)="archiveChat()"
        *ngIf="(canArchive$ | async)"
        matTooltip="Archive Chat">
        <mat-icon>archive</mat-icon>
      </button>
      <button
        name="delete_chat"
        mat-icon-button
        (click)="deleteChat()"
        *ngIf="(activeChannel$ | async) && !(canArchive$ | async)"
        matTooltip="Delete Chat">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <!-- All messages -->
    <div class="msg-container" style="margin: 0 10px">
      <app-twilio-message
        *ngFor="let message of (messages$ | async); index as i"
        [message]="message"
        [prevMessage]="i > 0 ? (messages$ | async)[i - 1] : null"
        [debate]='(activeChannel$ | async).attributes.debate'
        (rebut)="indicateRebut($event)">
      </app-twilio-message>
      <p style="text-align: center;" *ngIf="(chatroom$ | async).channels.length === 0">You are not part of any chat.</p>
    </div>

    <!-- Footer -->
    <span style="position: fixed; bottom: 0%; width: 100%;" *ngIf="(activeChannel$ | async)">
      <mat-chip-list class="center-screen">
        <mat-chip color="primary" selected *ngIf="(activeChannel$ | async).typingUser as typingUser">
          {{typingUser}} is typing...
        </mat-chip>
      </mat-chip-list>

      <p></p>

      <!-- The message input form -->
      <div [ngClass]="{blurred: showActive}">
        <form [formGroup]="sendForm"
          (ngSubmit)="onSendSubmit()"
          >

          <div class="input-group">
            <input type="text"
              class="form-control"
              placeholder="Type your message..."
              id="message"
              name="message"
              formControlName="message"
              autofocus="true"
              autocomplete="off"
              (input)="type()"
              (focus)="setRead()"
              >

            <span class="input-group-btn">
              <button
                [disabled]="sendForm.invalid || !(activeChannel$ | async) || !(textingRight$ | async) || (flaggedMessage$ | async)"
                type="submit" class="btn btn-primary" name="send">Send</button>
            </span>
          </div>
        </form>
      </div>
    </span>
  </mat-drawer-content>
</mat-drawer-container>

<audio id="notifSound" src="assets/audio/notification.mp3" type="audio/mpeg">
<audio id="msgSound" src="assets/audio/message.mp3" type="audio/mpeg">

</audio>
