<mat-drawer-container style="height: 100%;">
  <mat-drawer #drawer [mode]='"over"' style="width: 300px;">
    <div [ngClass]="{open: showActive}">
      <app-active-list></app-active-list>
    </div>
  </mat-drawer>
  <mat-drawer-content>

    <!-- Large Screen Header -->
    <mat-toolbar class="header" color="primary" *ngIf="!(isSmallScreen$ | async).matches">
      <span>{{chatName$ | async}}</span>
      <span style="flex: 1 1 auto;"></span>

      <!-- Button for turning on sidenav to switch chat -->
      <button mat-button (click)="drawer.toggle()">Switch Chat</button>

      <!-- Button for showing argument detail -->
      <button mat-button (click)="openArgument()" color='{{(hasArgument$ | async) ? "warn" : ""}}'>Show Argument</button>

      <!-- Button for ending chat -->
      <button mat-button (click)="onEndChat()">End Chat</button>
    </mat-toolbar>

    <!-- Small Screen Header -->
    <mat-toolbar class="header" color="primary" *ngIf="(isSmallScreen$ | async).matches">
      <span>{{chatName$ | async}}</span>
      <span style="flex: 1 1 auto;"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">

        <!-- Button for turning on sidenav to switch chat -->
        <button mat-button (click)="drawer.toggle()">Switch Chat</button>

        <!-- Button for showing argument detail -->
        <button mat-button (click)="openArgument()" color='{{(hasArgument$ | async) ? "warn" : ""}}'>Show Argument</button>

        <!-- Button for ending chat -->
        <button mat-button (click)="onEndChat()">End Chat</button>
      </mat-menu>
    </mat-toolbar>

    <!-- All messages -->
    <div class="msg-container">
      <app-message
        *ngFor="let message of (chatroom$ | async).messages"
        [message]="message"
        [debate]='(chatroom$ | async).activeChannel.attributes.debate'
        (rebut)="indicateRebut($event)">
      </app-message>
      <p *ngIf="(chatroom$ | async).channels.length === 0">You are not part of any chat.</p>
    </div>

    <!-- Footer -->
    <span style="position: fixed; bottom: 0%; height: 45px;">

      <!-- The message input form -->
      <div [ngClass]="{blurred: showActive}">
        <form [formGroup]="sendForm"
          (ngSubmit)="onSendSubmit()"
          >

          <div class="input-group">
            <input type="text"
              class="form-control"
              placeholder="Type your message..."
              id="message"
              name="message"
              formControlName="message"
              autofocus="true"
              autocomplete="off"
              >

            <span class="input-group-btn">
              <button
                [disabled]="sendForm.invalid || !(chatroom$ | async).activeChannel || !(textingRight$ | async) || (flaggedMessage$ | async)"
                type="submit" class="btn btn-primary" name="send">Send</button>
            </span>
          </div>
        </form>
      </div>
    </span>
  </mat-drawer-content>
</mat-drawer-container>

<audio id="notifSound" src="assets/audio/notification.mp3" type="audio/mpeg">
<audio id="msgSound" src="assets/audio/message.mp3" type="audio/mpeg">

</audio>
