<h1 mat-dialog-title>New Dialogue</h1>
  <div mat-dialog-content>
    <form>
      <mat-form-field class="full-width">
        <mat-label>Dialogue Title</mat-label>
        <input matInput maxlength="40" [(ngModel)]="data.title" name="title">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Dialogue Description</mat-label>
        <textarea maxlength="300" matInput [(ngModel)]="data.description" name="description"></textarea>
      </mat-form-field>
    </form>
  </div>
<div mat-dialog-actions>
  <button mat-button (click)="onClickCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>