<div class="message">
  <app-message [isChunk]='isChunk' [message]='message'></app-message>
  <div class="mat-elevation-z1 action-buttons" *ngIf="debate">
    <button
      mat-icon-button
      matTooltip="Demand source"
      style="border-radius: 10%"
      (click)="flagSource()"
      [disabled]="(flaggedMessage$ | async) !== null ||
      message.attributes.source !== undefined ||
      !(activeChannel$ | async).attributes.argument"
      >
      <mat-icon>flag</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Start argument"
      style="border-radius: 10%"
      [disabled]="(activeChannel$ | async).attributes.argument"
      (click)="createArgument()"
      >
      <mat-icon>bolt</mat-icon>
    </button>
  </div>
</div>
