<h4 *ngIf="isChunk === false" style="font-family: sans-serif;">{{message.from.username}}</h4>
<p>{{message.text}}</p>
<button
  *ngIf="debate && message.mine === true"
  [disabled]="(activeChannel$ | async).attributes.argument"
  (click)="createArgument()">argument</button>
<button
  *ngIf="debate && message.mine === false"
  (click)="flagSource()"
  [disabled]="(flaggedMessage$ | async) !== null || message.attributes.source !== undefined || !(activeChannel$ | async).attributes.argument">need source</button>
<div *ngIf="message.attributes && message.attributes.source">
  <p>Source:</p>
  <p>{{message.attributes.source}}</p>
</div>
